<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/comprae.css">
</head>

<body background="black">
    <section class="inical">
        <center>
            <br><br>
            <h1>Compras de espetinhos</h1>
            <hr>
        </center>
    </section>
    <br><br><br>

    <div class="deuRUim">
        <center>

            <div class="">
                <p>Nome: Ariel Luiz Biondo</p>
                <img src="../Imagens/QrCode.jpeg" width="350vh" class="img-qrcode" alt="">
            </div>
        </center>
        <center>
            <a href="../HTML/index.php"><button class="btn btn-primary">Voltar</button></a>
        </center>
    </div>
    <!--JS - boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>